<% layout('layouts/boilerplate') %>
<div class="container mt-5">
  <div class="alert alert-danger">
    <h4>Error <%= statusCode %></h4>
    <p><%= message %></p>
    <a href="javascript:history.back()" class="btn btn-outline-dark">Go Back</a>
  </div>
</div>
